:root {
	--dark: #171818;
	--light: aliceblue;
	--yellow: #f7f701;
	--sand: #f1eae1;
	--blue: #52ACFF;
}

::selection {
	background-color: var(--dark);
	color: var(--light);
}

::-moz-selection {
	background-color: var(--dark);
	color: var(--light);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body {
	background-color: var(--yellow);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, var(--yellow)), color-stop(69%, var(--blue)));
	background-image: linear-gradient(180deg, var(--yellow) 20%, var(--blue) 69%);
}

.wrapper {
	display: grid;
	grid-template-rows: 80vh 1fr;
}

#seashore {
	border-top-left-radius: 150px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	width: 90%;
	background-color: #ffffb9;
}

.key {
	font-size: 1.5em;
	border: 1px solid rgb(227, 227, 227);
	background-color: rgb(223, 223, 223);
	margin: 3px;
	padding: 7px 12px;
	-webkit-box-shadow: 0px 0px 0px 1px #e6e6e6;
	        box-shadow: 0px 0px 0px 1px #e6e6e6;
	border-radius: 5px;
	font-weight: 500;
	color: #26292c;
	cursor: pointer;
	text-transform: uppercase;
}

.key:hover {
	padding: 8px 15px;
	border: 1px solid rgb(211, 215, 215);
	color: var(--dark);
}

#row {
	height: 55px;
	margin: auto 5%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.float {
	position: absolute;
	top: 25%;
	padding: 10px 15px;
	-webkit-box-shadow: 0px 4px 0px 8px #9b9a96;
	        box-shadow: 0px 4px 0px 8px #9b9a96;
}

.float:hover {
	padding: 11px 16px;
}

.float ~ .float {
	margin: 80px;
}

.float + .float:nth-child(2n) {
	margin: 120px;
	left: 5%;
}

#capslock span {
	font-size: 17px;
}

#capslock {
	text-transform: lowercase;
}

#umbrella {
	position: absolute;
	top: 87%;
	left: 80%;
	width: 120px;
}

#umbrella:hover {
	-webkit-transform: rotate(25deg);
	        transform: rotate(25deg);
}

#beach-chair {
	position: relative;
	top: -5%;
	left: 5%;
	width: 120px;
}

#beach-chair img {
	width: 90px;
}

#beach-chair img:hover {
	width: 95px;
}

#ball {
	position: relative;
	font-size: 40px;
	left: 60%;
	top: 10%;
	width: 40px;
	padding: 5px;
}

#ball:hover {
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
	-webkit-transition: linear 1s;
			transition: linear 1s;
}

#eclipse {
	border: 1px solid var(--yellow);
	padding: 20px 35px;
	width: 12em;
	height: 14em;
	background-color: #2d2e2f;
	margin: 70px auto;
	color: var(--light);
	border-radius: 150px;
	box-shadow: inset 5px 0px 10px 10px var(--yellow);
	font-style: italic;
	cursor: pointer;
}

#eclipse .letter {
	font-size: 80px;
	font-weight: bold;
	padding: 15%;
}

#eclipse .keydata {
	padding-left: 45%;
	font-size: 15px;
}

#eclipse #capslock {
	font-size: 35px;
}
